; DiskLED 3 display mode definition
; Place this file as assets/<id>/layout.cfg together with images.

[General]
Id=infobar
Caption=Info Bar
Order=40
Default=0

[GeneralCompact]
Width=531
Height=16
Transparent=0
MaskColor=#000000
Bg=InfoBar_Base.png

[CpuCompact]
File=InfoBar_LEDBarLR_Wide.png
X=26
Y=3
Frames=21
Kind=bar
Strength=50

[MemCompact]
File=InfoBar_LEDBarLR_Wide.png
X=107
Y=3
Frames=21
Kind=bar
Strength=50

[SwapCompact]
File=InfoBar_LEDBarLR_Wide.png
X=188
Y=3
Frames=21
Kind=bar
Strength=50

[DiskReadMeterCompact]
File=InfoBar_LEDBarLR.png
X=269
Y=3
Frames=21
Kind=peak
Strength=80

[DiskWriteMeterCompact]
File=InfoBar_LEDBarLR.png
X=269
Y=9
Frames=21
Kind=peak
Strength=80

[NetInMeterCompact]
File=InfoBar_LEDBarLR.png
X=350
Y=3
Frames=21
Kind=peak
Strength=80

[NetOutMeterCompact]
File=InfoBar_LEDBarLR.png
X=350
Y=9
Frames=21
Kind=peak
Strength=80

[PingCompact]
File=InfoBar_Ping.png
X=430
Y=1
Frames=4

[AudioLCompact]
File=InfoBar_LEDBarLR.png
X=461
Y=3
Frames=21
Kind=peak
Strength=50

[AudioRCompact]
File=InfoBar_LEDBarLR.png
X=461
Y=9
Frames=21
Kind=peak
Strength=50
