; DiskLED 3 display mode definition
; Place this file as assets/<id>/layout.cfg together with images.

[Mode]
Id=infobar
Caption=Info Bar
Order=40
Default=0
Width=531
Height=16
Transparent=0
MaskColor=#000000
Bg=InfoBar_Base.png

[Ballistic]
Default=bar
Strength=50
Cpu=bar,50
Mem=bar,50
Swap=bar,50
DiskReadMeter=peak,80
DiskWriteMeter=peak,80
NetInMeter=peak,80
NetOutMeter=peak,80
AudioL=peak,50
AudioR=peak,50

[Cpu]
File=InfoBar_LEDBarLR_Wide.png
X=26
Y=3
Frames=21

[Mem]
File=InfoBar_LEDBarLR_Wide.png
X=107
Y=3
Frames=21

[Swap]
File=InfoBar_LEDBarLR_Wide.png
X=188
Y=3
Frames=21

[DiskReadMeter]
File=InfoBar_LEDBarLR.png
X=269
Y=3
Frames=21

[DiskWriteMeter]
File=InfoBar_LEDBarLR.png
X=269
Y=9
Frames=21

[NetInMeter]
File=InfoBar_LEDBarLR.png
X=350
Y=3
Frames=21

[NetOutMeter]
File=InfoBar_LEDBarLR.png
X=350
Y=9
Frames=21

[Ping]
File=InfoBar_Ping.png
X=430
Y=1
Frames=4

[AudioL]
File=InfoBar_LEDBarLR.png
X=461
Y=3
Frames=21

[AudioR]
File=InfoBar_LEDBarLR.png
X=461
Y=9
Frames=21

[Tray]
Off=TrayOff.ico
On=TrayOn.ico
