; DiskLED 3 display mode definition
; Place this file as assets/<id>/layout.cfg together with images.

[General]
Id=original
Caption=Original
Order=10
Default=1

[GeneralCompact]
Width=240
Height=34
Transparent=1
MaskColor=#0000FF
Bg=Original_Base.png

[GeneralFull]
Width=240
Height=52
Bg=Original_FullBase.png
Transparent=1
MaskColor=#0000FF

[GraphFull]
; Legacy sam2 SkinL DiskR / DiskW / NetI / NetO (1px = 1 sample; color = Metalic black)
Style=bar
DiskRead=98,40,29,8
DiskReadColor=#434343
DiskWrite=131,40,29,8
DiskWriteColor=#434343
NetIn=170,40,29,8
NetInColor=#434343
NetOut=203,40,29,8
NetOutColor=#434343

[CpuCompact]
File=Original_Meters.png
X=1
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[CpuFull]
File=Original_Meters.png
X=1
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[MemCompact]
File=Original_Meters.png
X=31
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[MemFull]
File=Original_Meters.png
X=31
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[SwapCompact]
File=Original_Meters.png
X=61
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[SwapFull]
File=Original_Meters.png
X=61
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF
Kind=vu
Strength=55

[DiskReadCompact]
File=Original_LedGreen.png
X=116
Y=0
Frames=2

[DiskReadFull]
File=Original_LedGreen.png
X=116
Y=0
Frames=2

[DiskWriteCompact]
File=Original_LedRed.png
X=124
Y=0
Frames=2

[DiskWriteFull]
File=Original_LedRed.png
X=124
Y=0
Frames=2

[NetInCompact]
File=Original_LedGreen.png
X=148
Y=0
Frames=2

[NetInFull]
File=Original_LedGreen.png
X=148
Y=0
Frames=2

[NetOutCompact]
File=Original_LedRed.png
X=156
Y=0
Frames=2

[NetOutFull]
File=Original_LedRed.png
X=156
Y=0
Frames=2

[PingCompact]
File=Original_Ping.png
X=180
Y=0
Frames=4

[PingFull]
File=Original_Ping.png
X=180
Y=0
Frames=4

[DiskReadMeterCompact]
File=Original_LiqBarLR.png
X=108
Y=16
Frames=21
Kind=peak
Strength=80

[DiskReadMeterFull]
File=Original_LiqBarLR.png
X=108
Y=16
Frames=21
Kind=peak
Strength=80

[DiskWriteMeterCompact]
File=Original_LiqBarLR.png
X=108
Y=21
Frames=21
Kind=peak
Strength=80

[DiskWriteMeterFull]
File=Original_LiqBarLR.png
X=108
Y=21
Frames=21
Kind=peak
Strength=80

[NetInMeterCompact]
File=Original_LiqBarRL.png
X=170
Y=16
Frames=21
Kind=peak
Strength=80

[NetInMeterFull]
File=Original_LiqBarRL.png
X=170
Y=16
Frames=21
Kind=peak
Strength=80

[NetOutMeterCompact]
File=Original_LiqBarRL.png
X=170
Y=21
Frames=21
Kind=peak
Strength=80

[NetOutMeterFull]
File=Original_LiqBarRL.png
X=170
Y=21
Frames=21
Kind=peak
Strength=80

[Tray]
Off=TrayOff.ico
On=TrayOn.ico
