; DiskLED 3 display mode definition
; Place this file as assets/<id>/layout.cfg together with images.

[Mode]
Id=original
Caption=Original
Order=10
Default=1
Width=240
Height=34
Transparent=1
MaskColor=#0000FF
Bg=Original_Base.png

[Ballistic]
Default=vu
Strength=55
Cpu=vu,55
Mem=vu,55
Swap=vu,55
DiskReadMeter=peak,80
DiskWriteMeter=peak,80
NetInMeter=peak,80
NetOutMeter=peak,80

[ModeFull]
Width=240
Height=52
Bg=Original_FullBase.png
Transparent=1
MaskColor=#0000FF

[Graph]
; Legacy sam2 SkinL DiskR / DiskW / NetI / NetO (1px = 1 sample; color = Metalic black)
Style=bar
DiskRead=98,40,29,8
DiskReadColor=#434343
DiskWrite=131,40,29,8
DiskWriteColor=#434343
NetIn=170,40,29,8
NetInColor=#434343
NetOut=203,40,29,8
NetOutColor=#434343

[Cpu]
File=Original_Meters.png
X=1
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF

[Mem]
File=Original_Meters.png
X=31
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF

[Swap]
File=Original_Meters.png
X=61
Y=1
Frames=64
Transparent=1
MaskColor=#0000FF

[DiskRead]
File=Original_LedGreen.png
X=116
Y=0
Frames=2

[DiskWrite]
File=Original_LedRed.png
X=124
Y=0
Frames=2

[NetIn]
File=Original_LedGreen.png
X=148
Y=0
Frames=2

[NetOut]
File=Original_LedRed.png
X=156
Y=0
Frames=2

[Ping]
File=Original_Ping.png
X=180
Y=0
Frames=4

[DiskReadMeter]
File=Original_LiqBarLR.png
X=108
Y=16
Frames=21

[DiskWriteMeter]
File=Original_LiqBarLR.png
X=108
Y=21
Frames=21

[NetInMeter]
File=Original_LiqBarRL.png
X=170
Y=16
Frames=21

[NetOutMeter]
File=Original_LiqBarRL.png
X=170
Y=21
Frames=21

[Tray]
Off=TrayOff.ico
On=TrayOn.ico
