; DiskLED 3 display mode definition (legacy MacX)

[General]
Id=crystal
Caption=Crystal
Order=20
Default=0

[GeneralCompact]
Width=192
Height=14
Transparent=1
MaskColor=#000000
Bg=Crystal_Base.png

[CpuCompact]
File=Crystal_CPU_Level.png
X=4
Y=0
Frames=32
Kind=bar
Strength=50

[MemCompact]
File=Crystal_Memory.png
X=40
Y=0
Frames=32
Kind=bar
Strength=50

[PingCompact]
File=Crystal_Ping_Level.png
X=156
Y=0
Frames=4

[DiskReadCompact]
File=Crystal_Green.png
X=76
Y=0
Frames=2

[DiskWriteCompact]
File=Crystal_Red.png
X=90
Y=0
Frames=2

[NetActivityCompact]
File=Crystal_Yellow.png
X=114
Y=0
Frames=2

[NetInCompact]
File=Crystal_Green.png
X=128
Y=0
Frames=2

[NetOutCompact]
File=Crystal_Red.png
X=142
Y=0
Frames=2

[Tray]
Off=TrayOff.ico
On=TrayOn.ico
