; DiskLED 3 display mode definition (legacy MacX)

[Mode]
Id=crystal
Caption=Crystal
Order=20
Default=0
Width=192
Height=14
Transparent=1
MaskColor=#000000
Bg=Crystal_Base.bmp

[Cpu]
File=Crystal_CPU_Level.bmp
X=4
Y=0
Frames=6

[Mem]
File=Crystal_Memory.bmp
X=40
Y=0
Frames=10

[Ping]
File=Crystal_Ping_Level.bmp
X=156
Y=0
Frames=4

[DiskRead]
File=Crystal_Green.bmp
X=76
Y=0
Frames=2

[DiskWrite]
File=Crystal_Red.bmp
X=90
Y=0
Frames=2

[NetActivity]
File=Crystal_Yellow.bmp
X=114
Y=0
Frames=2

[NetIn]
File=Crystal_Green.bmp
X=128
Y=0
Frames=2

[NetOut]
File=Crystal_Red.bmp
X=142
Y=0
Frames=2
