; DiskLED 3 display mode definition (legacy xsrv SkinS / SkinL)

[General]
Id=metalic
Caption=Metalic
Order=30
Default=0

[GeneralCompact]
Width=256
Height=24
Transparent=0
MaskColor=#D5DADB
Bg=Metalic_Base.png

[GeneralFull]
Width=256
Height=48
Bg=Metalic_FullBase.png
Transparent=1
MaskColor=#FF0000

[GraphFull]
Cpu=8,30,80,16
CpuColor=#000000
Mem=89,30,80,16
MemColor=#000000
Swap=170,30,80,16
SwapColor=#000000

[CpuCompact]
File=Metalic_CpuBar.png
X=21
Y=1
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=67
ValY=13
ValB=3
ValFZ=0

[CpuFull]
File=Metalic_CpuBar.png
X=21
Y=1
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=67
ValY=13
ValB=3
ValFZ=0

[MemCompact]
File=Metalic_MemBar.png
X=21
Y=11
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=92
ValY=13
ValB=3
ValFZ=0

[MemFull]
File=Metalic_MemBar.png
X=21
Y=11
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=92
ValY=13
ValB=3
ValFZ=0

[SwapCompact]
File=Metalic_MemBar.png
X=21
Y=18
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=117
ValY=13
ValB=3
ValFZ=0

[SwapFull]
File=Metalic_MemBar.png
X=21
Y=18
Frames=11
Transparent=1
MaskColor=#000000
Kind=bar
Strength=50
ValSW=1
ValStyle=bitmap
ValFontFile=Metalic_Font.png
ValX=117
ValY=13
ValB=3
ValFZ=0

[PingCompact]
File=Metalic_Ping.png
X=245
Y=9
Frames=4
MaskColor=#000000

[PingFull]
File=Metalic_Ping.png
X=245
Y=9
Frames=4
MaskColor=#000000

[DiskReadCompact]
File=Metalic_LedB.png
X=169
Y=9
Frames=2
MaskColor=#000000

[DiskReadFull]
File=Metalic_LedB.png
X=169
Y=9
Frames=2
MaskColor=#000000

[DiskWriteCompact]
File=Metalic_LedR.png
X=169
Y=2
Frames=2
MaskColor=#000000

[DiskWriteFull]
File=Metalic_LedR.png
X=169
Y=2
Frames=2
MaskColor=#000000

[DiskRWCompact]
File=Metalic_LedBRev.png
X=169
Y=16
Frames=2
MaskColor=#000000

[DiskRWFull]
File=Metalic_LedBRev.png
X=169
Y=16
Frames=2
MaskColor=#000000

[NetActivityCompact]
File=Metalic_LedY.png
X=210
Y=6
Frames=2
MaskColor=#000000

[NetActivityFull]
File=Metalic_LedY.png
X=210
Y=6
Frames=2
MaskColor=#000000

[NetInCompact]
File=Metalic_LedB.png
X=203
Y=9
Frames=2
MaskColor=#000000

[NetInFull]
File=Metalic_LedB.png
X=203
Y=9
Frames=2
MaskColor=#000000

[NetOutCompact]
File=Metalic_LedR.png
X=203
Y=2
Frames=2
MaskColor=#000000

[NetOutFull]
File=Metalic_LedR.png
X=203
Y=2
Frames=2
MaskColor=#000000

[NetTotalCompact]
File=Metalic_LedBRev.png
X=203
Y=16
Frames=2
MaskColor=#000000

[NetTotalFull]
File=Metalic_LedBRev.png
X=203
Y=16
Frames=2
MaskColor=#000000
