; DiskLED 3 display mode definition (legacy xsrv SkinS / SkinL)

[Mode]
Id=metalic
Caption=Metalic
Order=30
Default=0
Width=256
Height=24
Transparent=0
MaskColor=#D5DADB
Bg=Metalic_Base.bmp
Font=Metalic_Font.bmp
FontMaskColor=

[Ballistic]
Default=bar
Strength=50
Cpu=bar,50
Mem=bar,50
Swap=bar,50

[ModeFull]
Width=256
Height=48
Bg=Metalic_FullBase.bmp
Transparent=1
MaskColor=#FF0000

[Graph]
Cpu=8,30,80,16
CpuColor=#000000
Mem=89,30,80,16
MemColor=#000000
Swap=170,30,80,16
SwapColor=#000000

[Cpu]
File=Metalic_CpuBar.bmp
X=21
Y=1
Frames=11
Transparent=1
MaskColor=#000000
ValSW=1
ValStyle=bitmap
ValX=67
ValY=13
ValB=3
ValFZ=0

[Mem]
File=Metalic_MemBar.bmp
X=21
Y=11
Frames=11
Transparent=1
MaskColor=#000000
ValSW=1
ValStyle=bitmap
ValX=92
ValY=13
ValB=3
ValFZ=0

[Swap]
File=Metalic_MemBar.bmp
X=21
Y=18
Frames=11
Transparent=1
MaskColor=#000000
ValSW=1
ValStyle=bitmap
ValX=117
ValY=13
ValB=3
ValFZ=0

[Ping]
File=Metalic_Ping.bmp
X=245
Y=9
Frames=4
MaskColor=#000000

[DiskRead]
File=Metalic_LedB.bmp
X=169
Y=9
Frames=2
MaskColor=#000000

[DiskWrite]
File=Metalic_LedR.bmp
X=169
Y=2
Frames=2
MaskColor=#000000

[DiskRW]
File=Metalic_LedBRev.bmp
X=169
Y=16
Frames=2
MaskColor=#000000

[NetActivity]
File=Metalic_LedY.bmp
X=210
Y=6
Frames=2
MaskColor=#000000

[NetIn]
File=Metalic_LedB.bmp
X=203
Y=9
Frames=2
MaskColor=#000000

[NetOut]
File=Metalic_LedR.bmp
X=203
Y=2
Frames=2
MaskColor=#000000

[NetTotal]
File=Metalic_LedBRev.bmp
X=203
Y=16
Frames=2
MaskColor=#000000
